@model RequestViewModel
@{
    ViewData["Title"] = "MaterialRequest";
    Layout = "~/Views/Shared/_Layout_Second.cshtml";
}

<script src="~/jquery/dist/jquery.min.js" asp-append-version="true"></script>

<div class="container top_sizec">

    <div class="row top_sizec">
        <div class="col-xs-offset-1 col-sm-offset-2 col-lg-offset-2 col-md-offset-2">
            <h3 class="h3_bold  h3_left" style="margin-left:90px;">
                MALZEME TALEBİ
            </h3>
        </div>
    </div>
    <div class="row top_sizec">
        <div class="col-xs-offset-2 col-md-offset-2 col-lg-offset-2 col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <p id="pshow" class="p_bold p_colorred h3_left">Miktar talep edilen miktardan fazla olamaz.</p>
        </div>
    </div>
    <input type="hidden" class="form-control textbox_sizepercent" value="@ViewBag.fill" id="listcount" />
    <form asp-action="MaterialRequest" method="get">
        @if (ViewBag.fill != 1)
        {
            <input value="false" type="hidden" asp-for="RedirectToIfs" />
            <input value="@ViewBag.orderno" type="hidden" asp-for="id" />
        }
        else
        {
            <input value="true" type="hidden" asp-for="RedirectToIfs" />
        }
    </form>
    <div class="modal fade" id="mymodal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Red Notunuz</h4>
                </div>
                <div class="modal-body">
                    <textarea id="rednote" rows="10"  style="width:100%;resize: none;overflow:hidden"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="float:left" data-dismiss="modal">Vazgeç</button>
                    <input id="notesave" type="button" class="btn btn-default " value="Kaydet" />
                </div>
            </div>

        </div>
    </div>
    @if (ViewBag.fill != 0)
    {

        <div class="row ">
            <table id="tableshow" class="second_design_table">
                <tr>
                    <th style="width:10%;">Malzeme Kodu</th>
                    <th style="width:15%;">Malzeme Adı</th>
                    <th style="width:5%;">Miktar</th>
                    <th style="width:5%;">Birim</th>
                    <th style="width:20%;">Proje</th>
                    <th style="width:20%;">Aktivite</th>
                    <th style="width:15%;">Not</th>
                    <th style="width:5%;">Onaylanacak Miktar</th>
                    <th style="width:5%;">Onay Reddet</th>
                </tr>
                @foreach (var item in ViewBag.list)
                {
                    <tr>
                        <td style="width:10%;">@item.PartNo</td>
                        <td style="width:15%;">@item.Description</td>
                        <td id="qtydue" style="width:5%;">@item.QtyDue</td>
                        <td style="width:5%;">@item.UnitMeas</td>
                        <td style="width:20%;">@item.Proje</td>
                        <td style="width:20%;">@item.ActivityAdi</td>
                        <td style="width:15%;">@item.NoteText</td>
                        <td style="width:5%;"><input type="number" min="1" max="@item.QtyDue" id="quantity" class="form-control textbox_sizepercent" value="" /></td>
                        <td style="width:5%; vertical-align:central">
                            <input id="btnonay" type="button" class="btn btn-success" value="Onayla" />
                            <input id="btnerror" type="button" class="btn btn-danger error_btn_top" value="Reddet" />

                        </td>
                        <td class="p_display">@item.OrderNo</td>
                        <td class="p_display">@item.LineNo</td>
                        <td class="p_display">@item.ReleaseNo</td>
                        <td class="p_display">@item.LineItemNo</td>
                        <td class="p_display">@item.OrderClassDb</td>
                        <td class="p_display">@item.Rule</td>
                        <td class="p_display">@item.Step</td>
                        <td class="p_display">@item.ObjId</td>
                        <td class="p_display">@item.ObjVersion</td>
                    </tr>
                }
            </table>
        </div>
        <div class="row">
            <div class="top_sizec">
                <div class="col-lg-offset-7 col-md-offset-7 col-sm-offset-7 col-xs-offset-7">
                    <input id="btnallonay" type="button" class="btn btn-success btn_left" value="Tümünü Onayla" />
                </div>
            </div>
        </div>
        

    }
    <div class="row top_sizec">
        <div class="col-xs-12 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
            <h3 id="h3show" class="p_color"></h3>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $('#btnonay,#btnerror,#btnallonay').click(function () {
                var count = 0;
                var values = [];
                var success = true;

                var quantity = $(this).closest('tr').find('td').find('input').val();
                var listcount = $('#listcount').val();
                $(this).closest('tr').find('td').each(function () {
                    var textval = $(this).text();
                    count++;
                    values[count] = textval;

                });
                var text = values[10] + " " + "nolu malzeme talebiniz onaylanmıştır. Lütfen bekleyiniz..";

                if (this.id == 'btnerror') {

                    $('#mymodal').modal('show');
                    success = false;
                    var text = values[10] + " " + "nolu malzeme talebiniz reddedilmiştir. Lütfen bekleyiniz..";
                    $('#notesave').click(function () {
                        var rednote = $('#rednote').val();
                        $('#mymodal').modal('hide');
                        $.ajax({
                            data: {
                                orderno: values[10], lineno: values[11], releaseno: values[12], success: success,
                                lineitemno: values[13], orderclassdb: values[14], rule: values[15], step: values[16],
                                quantity: quantity, objid: values[17], objversion: values[18], qtydue: values[3],
                                rednote: rednote,
                            },
                            url: '/Home/MaterialRequest/',
                            type: "POST",
                            cache: false,
                            success: function (data) {

                                if (data == "success") {
                                    if (listcount != 1) {
                                        $("form").submit();
                                    }
                                    else {
                                        document.getElementById('tableshow').style.display = 'none';
                                        document.getElementById('pshow').style.display = 'none';
                                        document.getElementById('h3show').innerHTML = text;
                                        document.getElementById('h3show').style.display = 'block';
                                        setTimeout(function () {
                                            $("form").submit();
                                        }, 2000);

                                    }
                                }
                                else if (data == "error")
                                    document.getElementById('pshow').style.display = 'block';

                            },
                        });
                    });
                }
                else if (this.id = 'btnonay') {
                    $.ajax({
                        data: {
                            orderno: values[10], lineno: values[11], releaseno: values[12], success: success,
                            lineitemno: values[13], orderclassdb: values[14], rule: values[15], step: values[16],
                            quantity: quantity, objid: values[17], objversion: values[18], qtydue: values[3],
                        },
                        url: '/Home/MaterialRequest/',
                        type: "POST",
                        cache: false,
                        success: function (data) {

                            if (data == "success") {
                                if (listcount != 1) {
                                    $("form").submit();
                                }
                                else {
                                    document.getElementById('tableshow').style.display = 'none';
                                    document.getElementById('pshow').style.display = 'none';
                                    document.getElementById('h3show').innerHTML = text;
                                    document.getElementById('h3show').style.display = 'block';

                                    setTimeout(function () {
                                        $("form").submit();
                                    }, 2000);

                                }
                            }
                            else if (data == "error")
                                document.getElementById('pshow').style.display = 'block';

                        },
                    });
                }
                else {
                }
            });
        });
    </script>
</div>